<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <!---->
    <link rel="stylesheet" th:href="@{/css/dataTable/buttons.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dataTable/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dataTable/select.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dataTable/dataTable.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>


</head>

<body>

<div th:include="navbar :: main"></div>

<div id="main-content"></div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script th:src="@{/js/dataTable/dataTable.js}"></script>
<script th:src="@{/js/dataTable/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/dataTable/dataTables.select.min.js}"></script>
<script th:src="@{/js/dataTable/buttons.colVis.min.js}"></script>
<script th:src="@{/js/dataTable/dataTables.rowGroups.min.js}"></script>

<script th:src="@{/js/dataTable/buttons.flash.min.js}"></script>
<script th:src="@{/js/dataTable/jszip.min.js}"></script>
<script th:src="@{/js/dataTable/pdfmake.min.js}"></script>
<script th:src="@{/js/dataTable/vfs_fonts.js}"></script>
<script th:src="@{/js/dataTable/buttons.html5.min.js}"></script>
<script th:src="@{/js/dataTable/buttons.print.min.js}"></script>

<script th:src="@{/js/tables.js}"></script>
<script th:src="@{/js/dateFormat.js}"></script>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/clients.js}"></script>
<script th:src="@{/js/transactions.js}"></script>
<script th:src="@{/js/upload.js}"></script>

</body>

</html>






